:root {
    /*Primary colors*/
    --primary-color-dark: #31261A;
    --primary-color-light: #FAF4EA;
    --primary-color-green: #819B57;
    /*Secondary colors*/
    --secondary-color-dark: #A18268;
    --secondary-color-light: #CFCFBC;
    --secondary-color-green: #465929;
    /* fonts */
    --secondary-title-size: 64px;
    --secondary-line-height: 1.3;

    
}

// брекпоінт (розміри) для адаптиву
$bp-mobile: 480px;
$bp-tablet: 768px;
$bp-desktop: 1280px;