.button {
    background-color: var(--primary-color-green);
    border: 2px solid var(--primary-color-green);
    border-radius: 8px;
    color: var(--primary-color-light);
    cursor: pointer;
    font-weight: 600;
    padding: 16px 32px;
}

.button:hover {
    background-color: transparent;
    color: var(--secondary-color-green);
}